.diaryFormWrap {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}

.diaryForm {
  width: 80%;
  height: 100%;
}

.diaryForm label {
  display: block;
  margin-bottom: 5px;
  color: rgb(38, 59, 60);
  font-size: 15px;
  font-weight: 600;
}

.diaryForm input {
  width: 100%;
  height: calc(var(--baseline) * 3);
  margin-bottom: 20px;
  background-color: transparent;
  color: rgb(38, 59, 60);
  border: none;
  border-bottom: 1px solid rgb(38, 59, 60);
  border-radius: 0;
}

.diaryForm input:focus {
  outline: none;
}

.diaryForm .tagLabel {
  display: flex;
  align-items: center;
  width: 100%;
}

.diaryForm .tagInputWrap {
  display: flex;
  align-items: center;
}

.diaryForm .tagInputWrap .tagInput {
  width: 95%;
  margin-right: 10px;
}

.diaryForm textarea {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 0;
  color: rgb(38, 59, 60);
  resize: none;
}

.diaryForm textarea:focus {
  outline: none;
}
