.diaryListWrap {
  text-align: center;
  color: rgb(38, 59, 60);
}

.index {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.diaryList {
  margin-top: 40px;
}

.notExistMessage {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 15px;
}
