.sideMenu {
  margin-top: 7vh;
  width: 12%;
}

.sideMenu li {
  margin-bottom: 10px;
  padding: 7px 15px;
  min-height: calc(var(--baseline) * 3);
  color: rgb(238, 254, 255);
  background-color: rgba(209, 228, 228, 0.342);
  border-top: 1px solid rgb(238, 254, 255);
  border-bottom: 1px solid rgb(238, 254, 255);
  border-left: 1px solid rgb(238, 254, 255);
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

.sideMenu li:hover {
  color: rgb(38, 59, 60);
  border-color: #fff;
  background-color: #fff;
}

.active {
  color: rgb(38, 59, 60) !important;
  border-color: #fff !important;
  background-color: #fff !important;
}

.sideMenu span {
  margin-left: 10px;
  z-index: 2;
}

.icon {
  font-size: 15px;
}

.closeIcon {
  font-size: 20px;
}

.closeLink {
  margin-top: 50vh;
}
